In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp310-cp310-win_amd64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.3.0-cp310-cp310-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------- ----------- 11.5/16.4 MB 60.0 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 57.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector

In [2]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin123456@",
    database='test123'
)

In [3]:
cursor = conn.cursor()

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS test123.employees (
        id INT PRIMARY KEY,
        name VARCHAR(100),
        salary DECIMAL(10,2),
        doj DATE,
        dept VARCHAR(50)
    )
""")

In [4]:
import csv
with open('employee.csv',newline='') as f :
    reader = csv.reader(f)
    next(reader) #skip the header part
    for row in reader:
        print(row)
        salary =row[2]  if  row[2] != '' else None
        cursor.execute("insert into test123.employees(id,name,salary,doj,dept) values(%s,%s,%s,%s,%s)",
                       (row[0] ,row[1],salary,row[3],row[4]))

['1', 'John Doe', '50000', '2022-01-15', 'HR']
['2', 'Jane Smith', '60000', '2021-09-01', 'Finance']
['3', 'Alice Johnson', '55000', '2023-03-20', 'IT']
['4', 'Bob Lee', '70000', '2020-07-12', 'Marketing']
['5', 'Sara Khan', '', '2019-12-05', 'HR']

In [5]:
conn.commit()

In [6]:
import csv
rows_to_insert = []
with open('employee.csv',newline='') as f :
    reader = csv.reader(f)
    next(reader) #skip the header part
    for row in reader:
        print(row)
        salary =row[2]  if  row[2] != '' else None
        rows_to_insert.append((row[0] ,row[1],salary,row[3],row[4]))

['1', 'John Doe', '50000', '2022-01-15', 'HR']
['2', 'Jane Smith', '60000', '2021-09-01', 'Finance']
['3', 'Alice Johnson', '55000', '2023-03-20', 'IT']
['4', 'Bob Lee', '70000', '2020-07-12', 'Marketing']
['5', 'Sara Khan', '', '2019-12-05', 'HR']

In [7]:
rows_to_insert

[('1', 'John Doe', '50000', '2022-01-15', 'HR'),
 ('2', 'Jane Smith', '60000', '2021-09-01', 'Finance'),
 ('3', 'Alice Johnson', '55000', '2023-03-20', 'IT'),
 ('4', 'Bob Lee', '70000', '2020-07-12', 'Marketing'),
 ('5', 'Sara Khan', None, '2019-12-05', 'HR')]

In [8]:
cursor.executemany("insert into test123.employees(id,name,salary,doj,dept) values(%s,%s,%s,%s,%s)",
                       rows_to_insert)

In [9]:
conn.commit()

In [10]:
cursor.close()

True

In [11]:
conn.close()